/*
	Rough Navigation Toggle
	by Oskar Rough Mosumgaard
	- use it as you like
*/

/* reset the list */
.navigation,
.navigation ul { padding: 0; list-style: none; }



// Where to change into toggle
$navigation-toggle-breakpoint: (600/15)*1em;
$navigation-primary-breakpoint: (599/15)*1em;

// Size of the toggle button
$navigation-toggle-size: 2;

// Color
$toggle-color: red;
$toggle-line-color: #fff;


.navigation {
	//@include transition(all 150ms);
	-webkit-transition: all 150ms;
	   -moz-transition: all 150ms;
	    -ms-transition: all 150ms;
	     -o-transition: all 150ms;
	        transition: all 150ms;

	// Hide when too small
	@media screen and (max-width: $navigation-primary-breakpoint) {
		max-height: 0;
		overflow: hidden;
		text-align: center;
		background-color: #f2f2f2;
		
		li {
			margin: 1em 0;	
		}
		a {
			margin-right: auto;
		}
	}

	// show when activated with js
	&.is-active {
		max-height: 999px;
	}
}

/* Navigation toggle button */
.navigation-toggle-button {
	float: right;
	cursor: pointer;
	
	&:hover {
		.navigation-toggle-button__text {
			text-decoration: underline;
		}
		.navigation-toggle-button__box {
			background-color: darken($toggle-color,10%);
		}
	}
	/* Hide when screen is wide enough and for IE8 (no mq support) */
	@media screen and (min-width: $navigation-toggle-breakpoint) {
		display: none;
	}
	.lt-ie9 & {
		display: none;
	}
}
.navigation-toggle-button__text {
	position: relative;
	top: (9/15)*-1em;
	margin-right: (2/15)*1em;
	color: $toggle-color;
}
.navigation-toggle-button__box {
  	display: inline-block;
  	font-size: 16px;
	padding: (10 / 16) * 1em;
	background-color: $toggle-color;
	cursor: pointer;
}
.navigation-toggle-button__icon {
	box-sizing: content-box;
	-moz-box-sizing: content-box;
	float: right;
	width: 1em;
	height: ($navigation-toggle-size / 16) * 1em;
	border-top: (($navigation-toggle-size * 3) / 16) * 1em double $toggle-line-color;
	border-bottom: ($navigation-toggle-size / 16) * 1em solid $toggle-line-color;
	-webkit-transition: all 200ms;
	   -moz-transition: all 200ms;
	    -ms-transition: all 200ms;
	     -o-transition: all 200ms;
	        transition: all 200ms;
}

/* Navigation toggle active state */
.navigation-toggle-button.is-active .navigation-toggle-button__icon {
	//@include transform(rotate(90deg));
	-webkit-transform: rotate(90deg);
	   -moz-transform: rotate(90deg);
	    -ms-transform: rotate(90deg);
	     -o-transform: rotate(90deg);
	        transform: rotate(90deg);
}
