/*!
	Rough Navigation Toggle
	by Oskar Rough Mosumgaard
	- use it as you like
*/
.js-roughNavToggle.is-active {
  display: block; }
@media (max-width: 600px) {
  .js-roughNavToggle {
    display: none; } }

.NavToggle {
  display: none; }
  @media (max-width: 600px) {
    .NavToggle {
      display: block; } }

.NavToggle {
  background-color: transparent;
  font-size: 16px;
  border: 1px solid;
  border-radius: 2px;
  padding: 0;
  margin: 0;
  line-height: 1;
  cursor: pointer; }
  .NavToggle:hover, .NavToggle:focus {
    outline: none; }
  .NavToggle:hover .NavToggle-label {
    text-decoration: underline; }
  .NavToggle:hover .NavToggle-box {
    background-color: #f50000; }

.NavToggle-label {
  position: relative;
  font-size: 14px;
  top: 0.45em;
  margin-left: 0.4em;
  margin-right: 0.4em;
  color: red; }

.NavToggle-box {
  float: right;
  font-size: 16px;
  padding: 0.625em;
  background-color: red; }

.NavToggle-icon {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  display: block;
  width: 1em;
  height: 0.125em;
  border-top: 0.375em double white;
  border-bottom: 0.125em solid white;
  -webkit-transition: all 150ms;
  -moz-transition: all 150ms;
  transition: all 150ms; }

/* Navigation toggle active state */
.NavToggle.is-active .NavToggle-icon {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg); }
