/*!
	Rough Navigation Toggle
	by Oskar Rough Mosumgaard
	- use it as you like
*/

$rough-breakpoint: 600px;
$rough-toggle-size: 2;
$rough-bg-color: red;
$rough-line-color: white;

.js-roughNavToggle {
	&.is-active {
		display: block;
	}
	@media (max-width: $rough-breakpoint) {
		display: none;
	}
}
.NavToggle {
	display: none;
	@media (max-width: $rough-breakpoint) {
		display: block;
	}
}


// The button that toggles the navigation
.NavToggle {
	background-color: transparent;
	font-size: 16px;
	border: 1px solid;
	border-radius: 2px;
	padding: 0;
	margin: 0;
	line-height: 1;
	cursor: pointer;

	// Hover effect
	&:hover,
	&:focus {
		outline: none;
	}
	&:hover {
		.NavToggle-label {
			text-decoration: underline;
		}
		.NavToggle-box {
			background-color: darken($rough-bg-color,2%);
		}
	}
}
.NavToggle-label {
	position: relative;
	font-size: 14px;
	top: 0.45em;
	margin-left: 0.4em;
	margin-right: 0.4em;
	color: $rough-bg-color;
}
.NavToggle-box {
  	float: right;
  	font-size: 16px;
	padding: (10/16) *1em;
	background-color: $rough-bg-color;
}
.NavToggle-icon {
	// we're using content-box for the calculations here to be correct
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	display: block;
	width: 1em;
	height: ($rough-toggle-size / 16) *1em;
	border-top: (($rough-toggle-size * 3) / 16) *1em double $rough-line-color;
	border-bottom: ($rough-toggle-size / 16) *1em solid $rough-line-color;
	-webkit-transition: all 150ms;
	   -moz-transition: all 150ms;
	        transition: all 150ms;
}

/* Navigation toggle active state */
.NavToggle.is-active .NavToggle-icon {
	-webkit-transform: rotate(90deg);
	   -moz-transform: rotate(90deg);
	        transform: rotate(90deg);
}
