/*!
	Rough Navigation Toggle
	by Oskar Rough Mosumgaard
	- use it as you like
*/


// Reset the navigation
.Nav {
	padding-left: 0;
	list-style: none;
}


// Where to change into toggle
$nav-primary-breakpoint: (600/16)*1em;
// Size of the toggle button
$toggle-size: 2;
$toggle-color1: red; // Background-color of the button
$toggle-color2: #fff; // Color of the lines

.Nav--togglable {
	display: block;
	
	// animate the toggle
	-webkit-transition: all 200ms;
	   -moz-transition: all 200ms;
	        transition: all 200ms;
	
	// Use desktop first media-queries to avoid browsertrouble
	// When small enough, hide the navigation
	@media (max-width: $nav-primary-breakpoint) {
		max-height: 0;
		overflow: hidden;
		background-color: #f2f2f2;
	}

	
	// show when activated with js
	&.is-active {
		max-height: 999px;
	}
}


// The button that toggles the navigation
.NavToggle {
	
	// Make sure the text area also gets a pointer
	cursor: pointer;
	
	// Show when screen is small enough
	display: none;
	@media (max-width: $nav-primary-breakpoint) {
		display: block;
	}
	
	// Hover effect
	&:hover {
		.NavToggle-text {
			text-decoration: underline;
		}
		.NavToggle-box {
			background-color: darken($toggle-color1,10%);
		}
	}
}
.NavToggle-text {
	position: relative;
	top: (9/16) *-1em;
	margin-right: (2/16) *1em;
	color: $toggle-color1;
}
.NavToggle-box {
  	display: inline-block;
  	font-size: 16px;
	padding: (10/16) *1em;
	background-color: $toggle-color1;
	cursor: pointer;
}
.NavToggle-icon {
	// we're using content-box for the calculations here to be correct
	box-sizing: content-box;
	-moz-box-sizing: content-box;
	display: block;
	
	width: 1em;
	height: ($toggle-size / 16) *1em;
	border-top: (($toggle-size * 3) / 16) *1em double $toggle-color2;
	border-bottom: ($toggle-size / 16) *1em solid $toggle-color2;
	-webkit-transition: all 200ms;
	   -moz-transition: all 200ms;
	        transition: all 200ms;
}

/* Navigation toggle active state */
.NavToggle.is-active .NavToggle-icon {
	-webkit-transform: rotate(90deg);
	   -moz-transform: rotate(90deg);
	        transform: rotate(90deg);
}
