/*
	Rough Navigation Toggle
	by Oskar Rough Mosumgaard
	- use it as you like
*/
.Nav {
  padding-left: 0;
  list-style: none; }

.Nav--togglable {
  display: block;
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  transition: all 200ms; }
  @media (max-width: 37.5em) {
    .Nav--togglable {
      max-height: 0;
      overflow: hidden;
      background-color: #f2f2f2; } }
  .Nav--togglable.is-active {
    max-height: 999px; }

.NavToggle {
  cursor: pointer;
  display: none; }
  @media (max-width: 37.5em) {
    .NavToggle {
      display: block; } }
  .NavToggle:hover .NavToggle-text {
    text-decoration: underline; }
  .NavToggle:hover .NavToggle-box {
    background-color: #cc0000; }

.NavToggle-text {
  position: relative;
  top: -0.5625em;
  margin-right: 0.125em;
  color: red; }

.NavToggle-box {
  display: inline-block;
  font-size: 16px;
  padding: 0.625em;
  background-color: red;
  cursor: pointer; }

.NavToggle-icon {
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  display: block;
  width: 1em;
  height: 0.125em;
  border-top: 0.375em double white;
  border-bottom: 0.125em solid white;
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  transition: all 200ms; }

/* Navigation toggle active state */
.NavToggle.is-active .NavToggle-icon {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg); }
